* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-text-color: #eee;
    --video-block-color: #1F222F;
    --primary-width: 1280px;
    --primary-height: 90vh;
    --skryabin-text-color: #baf566;
    --left-bg-color: #353b48;
    --header-bg-color: #2b2f3a;
    --right-bg-color: #18252a;
    --border-radius: 10px;
}

@font-face {
    font-family: MyFont;
    src: url("/fonts/Nunito-Bold.ttf");
}

.body-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-family: MyFont, cursive;
    background: #111 url(/images/bg-image.png);
    color: var(--primary-text-color);
    padding: 30px;
}

.grid-container {
    display: grid;
    width: var(--primary-width);
    height: var(--primary-height);
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    margin: 0 auto;
    border-radius: var(--border-radius);
    background-color: var(--skryabin-text-color);
}

.left-flexblock-container {
    background-color: var(--left-bg-color);
    border-radius: var(--border-radius);
}

.header-flexblock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    height: 50px;
    border-radius: var(--border-radius);
}

.right-flexblock-container {
    display: grid;
    height: 200px;
    background-color: var(--right-bg-color);
    border-radius: var(--border-radius);
}

video {
    height: 120px;
}

.video-container {
    display: flex;
    flex-direction: row;
    background-color: var(--video-block-color);
    border-radius: 10px;
    height: 200px;
}

.audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 320px;
    height: 130px;
    background-color: dodgerblue;
}

span:nth-child(1) {
    color: var(--skryabin-text-color);
}