* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {;
    --first-color2: #1abc9c;
    --second-color2: #16a085;
    --third-color2: #12876f;
    --text-color: #fff;
    --form-width-and-height: 550px;
    --border-radius: 10px;
    --height-of-elements: 30px;
    --elements-width: 150px;
    --gap: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    gap: var(--gap);
}

.header-task2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color2);
    width: 1105px;
    height: 50px;
    color: var(--text-color);
    border-radius: var(--border-radius);
}

section{
    display: flex;
    gap: var(--gap);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: var(--form-width-and-height);
    height: var(--form-width-and-height);
    border-radius: var(--border-radius);
    border: 1px solid var(--second-color2);
}

.title-container{
    display: flex;
    background-color: var(--second-color2);
    width: var(--form-width-and-height);
    height: 90px;
    border-radius: 10px 10px 0 0;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.elements-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: var(--height-of-elements);
}

.radio-container{
    display: flex;
    justify-content: flex-end;
    gap: var(--gap);
}

.elements-container > input {
    height: var(--height-of-elements);
    border: 1px solid var(--second-color2);
}

.elements-container > select {
    height: var(--height-of-elements);
    border: 1px solid var(--second-color2);
}

.elements-container > textarea {
    height: 40px;
    border: 1px solid var(--second-color2);
}

select {
    width: var(--elements-width);
}

.buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.buttons input {
    padding: 12px 24px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--second-color2);
    color: var(--text-color);
    font-size: 18px;
    transition: all 0.3s;
    font-weight: bold;
    width: var(--elements-width);
}

.buttons input:hover {
    background-color: var(--third-color2);
}

span:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color2);
}