* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-width: 1116px;
    --primary-height: 680px;
    --left-block-content-width: 314px;
    --text-color: #eee;
    --skryabin-text-color: #baf566;
    --bg-color: #18252a;
    --bg-color-second: #353b48;
    --bg-color-third: #2b2f3a;
    --border-radius: 10px;
    --titles-font-size: 24px;
    --video-width: 540px;
    --titles-height: 50px;
}

@font-face {
    font-family: MyFont;
    src: url("/fonts/Nunito-Bold.ttf");
}

body {
    overflow: hidden;
    font-family: MyFont, cursive;
    font-size: 10px;
    background: #111 url(/images/bg-image.png);
    color: var(--text-color);
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 30fr 70fr;
    justify-content: center;
    margin: 0 auto;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    width: var(--primary-width);
    height: var(--primary-height);
}

.left-flexblock-container {
    background-color: var(--bg-color-second);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    gap: 44px;
    height: var(--primary-height);
    width: 330px;
}

.header-flexblock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-third);
    height: 50px;
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    font-size: 20px;
}

.right-flexblock-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    height: var(--primary-height);
    width: 781px;
}

video {
    height: 300px;
    width: 500px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-third);
    height: 630px;
    border-radius: var(--border-radius);
}

.video-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    gap: 7px;
}

.video-block {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-second);
    width: var(--video-width);
    height: 320px;
    border-radius: var(--border-radius);
}

.video-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--titles-font-size);
    background-color: var(--bg-color-second);
    width: var(--video-width);
    height: var(--titles-height);
    border-radius: var(--border-radius);
}

.audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--left-block-content-width);
    height: 160px;
    padding: 5px;
    background-color: var(--bg-color-third);
    border-radius: var(--border-radius);
}

.audio-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--left-block-content-width);
    height: var(--titles-height);
    margin-top: 8px;
    font-size: var(--titles-font-size);
    background-color: var(--bg-color-third);
    border-radius: var(--border-radius);
}

span:nth-child(1) {
    color: var(--skryabin-text-color);
}

.audio-container > h1 {
    margin-bottom: 10px;
}